In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_4666485.csv',skiprows=4)

In [8]:
df.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.429817,-0.020479,3.54363,2.116716,5.482371,1.267218,-2.0856,-22.318948,NaN,NaN

In [15]:
df2 = df.drop(['Indicator Name','Indicator Code'],axis=1)

In [28]:
df3 = df2.set_index(['Country Code','Country Name']).stack().reset_index()

In [39]:
df3.columns

Index(['Country Code', 'Country Name', 'level_2', 0], dtype='object')

In [32]:
df4 = df3.rename(columns={'level_2':'Year', 0:'GDP growth (annual %)'})

In [36]:
df4.set_index('Country Code').to_csv('mycsv.csv')

In [60]:
# df3.set_index(['level_2','Country Code','Country Name']).unstack(['Country Code','Country Name'])

### https://ratings.fide.com/top_lists.phtml

In [75]:
table_list=pd.read_html('chess_table.html')
wiki_list=pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita')

In [77]:
len(table_list),len(wiki_list)

(1, 6)

In [88]:
s='2862 (1)'

In [115]:
s.split(' ')[1].replace('(','').replace(')','') #STRING function

'1'

In [104]:
chess_df = table_list[0]

In [107]:
chess_df['Rating last year']  = chess_df['Avg12M'].str.split(' ').str[0].astype(float)

In [116]:
chess_df['Ranking last year']  = chess_df['Avg12M'].str.split(' ').str[1].str.replace('(','').str.replace(')','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [117]:
chess_df

,#,Name,Fed,Rating,+-,B-Year,Avg12M,Ranking last year,Rating last year
0,1,"Carlsen, Magnus",NOR,2856,NaN,1990,2862 (1),1,2862.0
1,2,"Ding, Liren",CHN,2811,NaN,1992,2803 (2),2,2803.0
2,3,"Nepomniachtchi, Ian",RUS,2793,NaN,1990,2778 (5),5,2778.0
3,4,"Firouzja, Alireza",FRA,2785,NaN,2003,2793 (3),3,2793.0
4,5,"So, Wesley",USA,2774,NaN,1993,2773 (7),7,2773.0
...,...,...,...,...,...,...,...,...,...
97,98,"Bluebaum, Matthias",GER,2647,NaN,1997,2652 (91),91,2652.0
98,99,"Bacrot, Etienne",FRA,2646,NaN,1983,2644 (105),105,2644.0
99,100,"Donchenko, Alexander",GER,2646,NaN,1998,2630 (130),130,2630.0
100,101,"Abasov, Nijat",AZE,2646,NaN,1995,2635 (120),120,2635.0
101,102,"Mamedov, Rauf",AZE,2646,NaN,1988,2656 (86),86,2656.0